/* Basic reset */
body, h1, h2, p, iframe {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    padding: 20px;
    background-image: url('public/jeanne2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* Adjust transparency here, 0.5 is 50% transparent */
    z-index: -1;
}

header, footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #222;
    color: white;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    color: #383333;
    margin-bottom: 10px;
}

.playlists, .links {
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    margin-bottom: 10px;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    color: #0066CC;
    text-decoration: none;
    font-weight: 700;
}

footer p {
    font-size: 14px;
}

@media (min-width: 600px) {
    

    iframe:nth-child(2n) {
        margin-right: 0;
    }
}
